{% extends "layout.html" %}

{% block title %}
        CD About
{% endblock %}

{% block main %}
<p id="about.text">I'm Tunahan Yazar and I'm from Istanbul/Turkey.
    I'm 18 years old and currently studying in Sabancı University in Turkey. 
    I created this website mainly for keep track of your portfolio, making some prophecies about 
    prices of cryptocurrencies by using fbprophet module of Facebook, extracting news about the coin user interested by using News api and lastly to inform you by email when the price come the point you entered.     
</p>
<br>
<br>
<br><br><br><br><br><br>

{% endblock %}