{%  extends "layout.html" %}

{% block title %}
    My Portfolio
{% endblock %}

{% block main %}
<h2> Amount of USDT: {{ cash }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>
           {% for row in shares %}
                <tr>
                    <td class="text-start"> {{ row["symbol"]}} </td>
                    <td class="text-start"> {{ row["name"]}} </td>
                    <td class="text-end"> {{ row["shares"] }} </td>
                    <td class="text-end">  ${{ row["price"]}} </td>
                    <td class="text-end"> ${{ row["total"]}} </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
<br>
<br>
<br><br><br><br><br>
{% endblock %}